[package]
name = "test_utils"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1.0.98"
insta-cmd = "0.6.0"
regex = { version = "1.12.2", default-features = false }
tempfile = "3.20.0"
